/* For tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .main-form-container h1 {
        font-size: 14px;
    }

    .form-text h1 {
        font-size: 14px;
    }

    .form-text p, .form-text span {
        font-size: 12px;
    }

    label {
        font-size: 12px;
    }

    fieldset {
        width: 90%;
    }

    
    form button {
        width: 40%;
        padding: 10px;   
    }

    .form-container {
        width: 70%;
        height: 90%;
    }
}

@media only screen and (max-width: 767px) {
    .outter-container {
        background-image: url(./assets/Rectangle\ 11.png);
        background-repeat: no-repeat;
        background-size: 100% 14%;
        background-position: bottom;
    }

    .form-container {
        height: 100%;
        width: 100%;
        flex-direction: column;
    }

    .main-form-container h1 {
        font-size: 14px;
    }

    .form-text h1 {
        font-size: 14px;
    }

    .form-text {
        position: static;
    }

    .form-text p, .form-text span {
        font-size: 12px;
    }

    label {
        font-size: 12px;
    }

    fieldset {
        width: 100%;
    }

    
    form button {
        width: 40%;
        padding: 10px;   
    }

    .main-form-container {
        height: auto;
    }

    .form-text {
        transform: none;
    }

    .form-text-container {
        position: absolute;
        top: 0;
        height: 17%;
    }

    form {
        padding: 0;
    }

    input, select {
        padding: 7px;
    }

    .left-cut-out, .right-cut-out {
        display: none;
    }
}
